
<%= form_for(message, as: :messages, url: messages_path, method: :post) do |f| %>
  <br/>
  
  <br/>
  <div class='col-sm-1'><strong>From: </strong></div>
  <div class='col-sm-4'><%= message.sender.name + '  ' %>(<%= message.sender.email %>)</div>
  <br/>
  <br/>

  <div class='col-sm-1'><strong>To: </strong></div>
  <% if @disabled %>
    <div class='col-sm-4'><%= message.recipients_array.join(', ') %></div>
  <% else %>
    <select class='ui-corner-all col-sm-4', multiple='multiple', id='user_multi_select'} name="message[recipients][]"></select>
  <% end %>
  <br/>
  <br/>

  <div class='col-sm-1'><strong>Subject: </strong></div>
  <input <%= @disabled %> class='col-sm-4' type="text" name="message[subject]" id="message_subject" value='<%= message.subject %>' class="text ui-widget-content ui-corner-all" ><br/>
  <br/>
  <div class='col-sm-2'><strong>Content: </strong></div><br/>
  <br/>

  <textarea <%= @disabled %> name="message[content]" id="message_content" class="col-sm-5 ui-corner-all"  rows='10'><%= message.content %></textarea>
  <% 11.times { %> <br/><% } %>

  <div style="float: left;" <%= @hidden_string %> >
    <button type="submit" id='btn_send' class="btn btn-success btn-sm">
      <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
      <strong>Send</strong>
    </button>

    <button type="button" id='btn_cancel' class="btn btn-warning btn-sm" onclick="window.location='/messages'">
      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
      <strong>Cancel</strong>
    </buton>
  </div>

<% end %>
