<h3>My profile</h3>

<% if @status_message %>
  <h3><p class='col-sm-6 text-center <%= @bg_class %>' ><%= @status_message %></p></h3>
  <br/><br/>
<% end %>

<%= form_for(:user, as: :users, url: '/profiles', method: :put) do |f| %>

  <% %w( first_name last_name email password password_confirmation ).each do |attr|  %>
    <div class='col-sm-2'><strong><%= attr.humanize %>: </strong></div>
    <input class='col-sm-4' type="<%= input_type(attr) %>" name="user[<%= attr %>]" id="user_<%= attr %>" value="<%= @user.send(attr) %>" 
      class="text ui-widget-content ui-corner-all" placeholder='Enter new value to change ...'>
    <br/> <br/>
  <% end %>

  <% 
    address_string = 'Address'
    address = @user.addresses.first
    if (!address && @user.facility) 
      address = @user.facility.addresses.first
      address_string += ' (Foster Facility)'
    end
  %>

  <% 2.times { %> <br/> <% } %>

  <h4><%= address_string %></h4>
  <% %w( street city state county_name zip telephone_number ).each do |attr|  %>
    <div class='col-sm-2'><strong><%= attr.humanize %>: </strong></div>

    <input class='col-sm-4' type="text" name="address[<%= attr %>]" id="address_<%= attr %>" value="<%= address&.send(attr)  %>" 
      class="text ui-widget-content ui-corner-all" placeholder='Enter new value to change ...'>

    <br/><br/>
  <% end %>

  <br/><br/>

  <button type="submit" id='btn_send' class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
    <strong>Save</strong>
  </button>

  <button type="button" id='btn_cancel' class="btn btn-warning btn-sm" onclick="window.location='/'" >
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
    <strong>Cancel</strong>
  </buton>

<% end %>