 <%= form_for(:facility, as: :facilities, url: '/facilities/search', method: :get) do |f| %>
  <strong>Search by zipcodes:</strong>
  <select class='ui-corner-all col-sm-2', multiple='multiple', id='zipcode_multi_select' name="zipcodes[]"></select>
  
  <button type="submit" id='btn_search' class="btn btn-info btn-sm">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <strong>Search</strong>
  </button>
 <% end %>