<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'text ui-widget-content ui-corner-all' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'text ui-widget-content ui-corner-all' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  
  <button type="submit" id='btn_login' class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
    <strong>Login</strong>
  </button>

  <% if (devise_mapping.registerable? && controller_name != 'registrations') %>
    <button type="button" id='btn_signup' class="btn btn-warning btn-sm" onclick="window.location='/users/sign_up'">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <strong>Signup</strong>
    </button>
  <% end %>

<% end %>



<%= render "/users/shared/links" %>

<a href='/README.html' target='_blank'><h2>Please read this README file for login information of this demo</h2></a></p>