<!DOCTYPE html>
<html>
<head>
  <title>FosterCare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
</head>
<body>

  <div style="margin-left: 40px; margin-right:40px;" >
    <%= render partial: '/common/header' %>

    <%= yield %>
  </div>

</body>
</html>
